/* estilos generales */
/* agregar navbar */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eec6d9;
  color: #333;
  /* agregar scroll */
}

#presentacion {
  background-image: url('images/pexels-lisa-fotios-1083822.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  padding: 3rem;
  text-align: center;
  color: white;
}

/* imagen circular*/
img {
  width: 20%;
  max-width: 150px;
  border-radius: 50%;
  /* agregar hover para destacar*/
}

/* enlaces */
a {
  color: #1565c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* tabla */
table {
  margin: 2rem auto;
  width: 60%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #bbb;
  padding: 0.75rem;
  text-align: center;
  background-color: #fff;
}

/* links */
.links {
    margin: 3rem 1rem;
    text-align: center;
}

/* tecnologias */
.tecnologias {
    margin: 5rem 1rem;
}

/* formulario */
#contacto {
  background-color: #f1f8e9;
  padding: 1rem;
  text-align: center;
  width: 40%;
  margin: 5rem auto;
  border-radius: 20px;
}

/* etiquetas de form */
form label {
  display: block;
  margin-top: 1rem;
}

input {
  border: none;
  border-bottom: 2px solid #eec6d9;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  /* agregar animación o transición */
}

/* pie de página */
footer {
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  margin-top: 2rem;
}